#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0px 2em 0px 2em;

}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;

}

#nav-bar .header {
  line-height: 2.5;
  font-size: 2em;
  float: left;
  margin-left: 10px;
}
